.products-container {
  max-width: 100rem;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.products-container h1 {
  margin-bottom: 30px;
  text-align: center;
  text-decoration: underline;
}

.filter-sort-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-dropdown,
.sort-dropdown {
  width: 180px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  text-align: center;
}

.filter-dropdown:hover,
.sort-dropdown:hover {
  border-color: #888;
}

.filter-dropdown:focus,
.sort-dropdown:focus {
  border-color: #555;
}

.filter-dropdown {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
}

.products-grid {
  display: grid;
  grid-template-columns: 1fr; /* One column for mobile */
  gap: 20px;
  padding: 20px;
}

/* Media query for tablet */
@media (min-width: 768px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr); /* Two columns for tablet */
  }
}

/* Media query for desktop */
@media (min-width: 1200px) {
  .products-grid {
    grid-template-columns: repeat(4, 1fr); /* Four columns for desktop */
  }
}
