.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.pagination-button {
  background-color: #fff;
  color: #333;
  padding: 8px 12px;
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.pagination-button:hover {
  background-color: #f0f0f0;
}
